body {
  background-color: #1c1c1c;
  color: white;
  
}

.container {
  width: 80%;
  max-width: 600px; /* 최대 너비를 지정할 수 있습니다. */
  text-align: center;
}

.popup {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  text-align: center;
  color: black;
}