.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c1c1c;
  color: #fff;
  padding: 10px;
  height: 3vh; /*화면 3%차지 */
}

.logo {
  max-width: 100%; /* 최대 너비도 80%로 설정 */
  height: 120%;
  margin-right: 20px;
  margin-left: 30px;
}

.login-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.person {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.loginLink {
  font-weight: bold;
  background-color: transparent;
  border: none;
  color: white;
  padding-left: 0px;
}

.myInfo {
  background: transparent;
  border: none;
  margin-right: 0px;
  padding-right: 0px;
}

/*navigation*/
.navigation {
  position: relative; /* 상대적 위치 설정 */
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 20vh;
}

.banner {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  margin: 0; /* margin 속성을 추가해서 모든 마진을 0으로 설정 */
  padding: 0; /* padding 속성도 추가해서 모든 패딩을 0으로 설정 */
}

.banner-text {
  position: absolute; /* 절대 위치 설정 */
  top: 50%; /* 세로 중앙 정렬 */
  left: 50%; /* 가로 중앙 정렬 */
  transform: translate(-50%, -50%); /* 가운데 정렬을 위한 변환 */
  color: #fff; /* 텍스트 색상 설정 */
  font-size: 24px; /* 텍스트 크기 설정 */
  font-weight: bold; /* 텍스트 굵기 설정 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 텍스트 그림자 설정 */
  margin-bottom: 0px;
  padding-bottom: 0px;
}
