/* DropdownMenu.css */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  color: #333;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown.open .dropdown-toggle {
  background-color: #ddd;
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;
}

.dropdown.open .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: burlywood;
}

.dropdown-menu li:hover {
  background-color: #ddd;
}

.selected-category {
  margin-top: 10px;
  font-weight: bold;
}
